# OS files
.DS_Store
Thumbs.db

# hugo build
public
resources/_gen

# hugo executables, if present
hugo.exe
hugo.darwin
hugo.linux

# hugo temp lock file
.hugo_build.lock
./public

# npm 
node_modules

# .env file
.env
.env.test
.env.local
