@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Lato", system-ui, sans-serif;
  }
  :root {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;    
  }
}

@layer utilities {
  .font-inter {
    font-family: "Inter";
    font-weight: 200;
  }

  .font-playfair {
    font-family: 'Playfair';
    font-weight: 400;
  }
}
@layer utilities {
  .prose-intro > p:nth-of-type(1) {
    @apply text-primary-600 text-xl lg:text-2xl;
  }
  .prose-intro > p:nth-of-type(2)::first-line { 
    @apply uppercase text-justify;
  }

  .prose-intro > p:nth-of-type(2)::first-letter {
    @apply uppercase text-[5em] leading-[0.7] float-left ml-0 mr-4;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }  
}
